.pragmatic_logo {
       font-family: 'Dancing Script', cursive;
}
.pragmatic_bottom_button{
  font-size:.9rem
}
.pragmatic_bottom{
  text-align:center;
  margin-top : 2rem;
}

.pragmatic_header{
  text-align:center ;
  margin: 2rem 0;
}
  